<h1>My Expenses</h1>

<% @expenses.each do |expense| %>
  <div class="card bg-dark" style="width: 18rem;">
    <table>
      <tbody>
          <tr><th>Expense:</th><td><%= expense.name %></td></tr>
          <tr><th>$ </th><td><%= expense.amount %></td><td>to pay</td></tr>
          <tr><th>Due on:</th><td><%= expense.due_on %></td></tr>

          <tr>
          <%= render "expenses/switch", expense: expense %>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
