<div class="btn-group dropup">
  <button class="add-button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    +
  </button>
  <div class="dropdown-menu">

    <li><%= link_to "Add expense", new_home_expense_path(@home) %></a></li>
    <li><%= link_to "Add chore", new_home_chore_path(@home) %></a></li>

  </div>
</div>
