<div class="btn-group dropup">
  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    +
  </button>
  <div class="dropdown-menu">
    <li><a href="#">Add expense</a></li>
    <li><a href="#">Add chore</a></li>
  </div>
</div>
<%#
<div class="add-button">
  <a href="#">+</a> %>
  <%# <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#">Link</a> %>
<%# </div> %>
