<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">



			<ul class="nav navbar-bottom">
				<li>
					<a href= <%= dashboard_path %> >
						<span class="small-nav" data-placement="right" title="Home">
							<span class="glyphicon glyphicon-home"></span>
						</span>
					</a>
				</li>

				<li>
					<a href= <%= home_chores_path(@home) %> >
						<span class="small-nav" data-placement="right" title="TODO">
							<span class="glyphicon glyphicon-list-alt"></span>
						</span>
					</a>
				</li>

        <li>
					<a href= <%= home_expenses_path(@home) %> >
						<span class="small-nav" data-placement="right" title="TODO">
							<span class="glyphicon glyphicon-usd"></span>
						</span>
					</a>
				</li>

				<li>
					<a href= <%= chatroom_path(@home.chatroom) %> >
						<span class="small-nav" data-placement="right" title="Chatroom">
							<span class="glyphicon glyphicon-comment"></span>
						</span>
					</a>
				</li>
			</ul>


</div>






