<h1>My Home</h1>

<% if @home %>
    <p><%= @home.name %></p>
    <p><%= @home.address %></p>
    <% @homies.each do |homie| %>
      <p><%= homie.first_name %></p>
      <p><%= homie.last_name %></p>
    <% end %>
<% else %>
  "No home yet :("
<% end %>
