.btn-add-chores {
  padding: 20px;
}

.fa-plus {
  color: $yellow;
}

.btn-chores {
  font-weight: bold;
  padding:10px;
  width: 140px;
  margin: 10px;
  border-radius: 90px;
  background-color:white;
  text-align: center;
  a:link {
    text-decoration: none;
  }
  &:hover {
    background-color: $green;
    text-decoration: none;
  }
}

.chores-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chores-card {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  li {
    list-style: none;
  }
}

.todo {
  font-size: 22px;
}

.assignee-name {
  color: $yellow;
}

.btn-mark {
  margin-top: 10px;
}
