// Primary app colors
$text-bright: #EBECFD;
$text-dark: #687881;
$text-medium: #B8C2C0;
$global-background: #22343B;
$card-background: #30444E;
$grey: #96A7AF;
$yellow: #FEC542;
$green:#6ED3AA;
$red: #FA5D65;
$message-in: #DFE0E5;
$message-out: #FFE3C0;

// .navbar-lewagon {
//  justify-content: space-between;
//  background: #30444E;
// }

.navbar-collapse {
 flex-grow: 0;
}

.navbar-brand img {
  width: 60px;
}

.nav-item.dropdown {
  list-style-type:none;
  padding: 15px 15px;
}

// .nav-item.dropdown img {
  // width: 40px;
  // height: 50px;
  // padding: 15px 15px
// }

.dropdown-menu.top.show {
  display: flex;
  background-color: $grey;
  flex-direction: column;
  height: auto;
  min-width: auto;
  position: absolute;
  right: 100%;
  top: 100%;
  margin-top: 11px;
  left: -34%;
  border-radius: 5px;
  padding: 10px;
  opacity: 1.8;
}

.dropdown-menu-top.show li {
  margin: auto;
  width: auto;
}

.dropdown-item-top {
  margin-left: 15px;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  width: auto;
}

a.dropdown-item-top {
  color: $text-bright;
}

.avatar.dropdown-toggle {
  width: 60px;
}

.btn-danger {
  background-color: #FA5D65 !important;
}

.navbar-fixed-top {
  width: 100%;
}
