// Primary app colors
$text-bright: #EBECFD;
$text-dark: #687881;
$text-medium: #B8C2C0;
$global-background: #22343B;
$card-background: #30444E;
$grey: #96A7AF;
$yellow: #FEC542;
$green:#6ED3AA;
$red: #FA5D65;
$message-in: #DFE0E5;
$message-out: #FFE3C0;
//

.navbar-lewagon {
 justify-content: space-between;
 background: #30444E;
}

.navbar-lewagon .navbar-collapse {
 flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
 width: 40px;
}

.navbar {
 list-style-type:none;
}

.dropdown-menu.top.show {
  display: flex;
  background-color: $grey;
  flex-direction: column;
  height: auto;
  min-width: auto;
  position: absolute;
  right: 100%;
  top: 100%;
  margin-top: 11px;
  left: -34%;
  border-radius: 4px;
  padding: 10px;
  opacity: 0.8;
}

.dropdown-menu-top.show li {
  margin: auto;
  width: auto;
}

.dropdown-item-top {
  margin: auto;
  width: auto;
}

a.dropdown-item-top {
  color: $text-bright;
}

