// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/bottom_nav";
@import "pages/show";

// Primary app colors
$text-bright: #EBECFD;
$text-dark: #687881;
$text-medium: #B8C2C0;
$global-background: #22343B;
$card-background: #30444E;
$grey: #96A7AF;
$yellow: #FEC542;
$green:#6ED3AA;
$red: #FA5D65;
$message-in: #DFE0E5;
$message-out: #FFE3C0;
//

body {
  background-color: $global-background;
  word-wrap: break-word;
}

.app {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  flex-direction: column;
  background-color:$global-background;
  color:$text-medium;
  @media (min-width: 600px) {
    flex-direction: row;
  }

  .app-menu {
    display: flex;
    background-color:$card-background;
    min-height: 50px;
    justify-content: center;
  }
  .app-header {
    display: flex;
    background-color:$global-background;
    max-height: 80px;
    justify-content: space-between;
    padding-right: 50px;
  }
  .app-content {
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  padding-bottom: 20px;
  // padding-left: 20px;
  // padding-right: 20px;
  margin: none;

  justify-content: space-between;
}

.home-info, .homies-info, .expenses-list, .chores-list, .invite-homie, .homeless {
  padding: 12px;
  margin: 7px 0px;
  text-align: center;
  background-color: $grey;
  opacity: 0.6;
  border-radius: 4px;
}

.chore-show {
  color: $text-bright;
}

.chores-list td {
  width: 200px;
  text-align: left;
}

.chores-list th {
  width: 200px;
  text-align: left;
}

.expenses-list td {
  width: 200px;
  text-align: left;
}

.expenses-list th {
  width: 200px;
  text-align: left;
}

.form-check-label {
  padding-left: 20px;
}
