// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/add_button";

// Primary app colors
$text-bright: #EBECFD;
$text-dark: #687881;
$text-medium: #B8C2C0;
$global-background: #22343B;
$card-background: #30444E;
$grey: #96A7AF;
$yellow: #FEC542;
$green:#6ED3AA;
$red: #FA5D65;
$message-in: #DFE0E5;
$message-out: #FFE3C0;
//

body {
  background-color: $global-background;
}

.app {
  display: flex;
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  background-color:$global-background;
  color:$text-bright;
  @media (min-width: 600px) {
    flex-direction: row;
  }
  .app-menu {
    display: flex;
    background-color:$card-background;
    min-height: 50px;
    justify-content: center;
  }
  .app-header {
    background-color:$global-background;
    min-height: 50px;
  }
  .app-content {
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}


