<%= link_to home_chores_path(current_user.home), type: "button", class: "btn btn-toggle", 'data-toggle': "button", 'aria-pressed': true, autocomplete: "off" do %>
  <%# Switch view? %>
  <div class="handle">
  </div>
<% end %>



