<%= link_to user_chores_path, type: "button", class: "btn btn-toggle active", 'data-toggle': "button", 'aria-pressed': true, autocomplete: "off" do %>
  <%# Switch view? %>
  <div class="handle">
  </div>
<% end %>



