<% if expense.paid %>
  <i><%= link_to paid_expense_path(expense), method: :patch, type: "button", class: "far fa-check-circle fa-2x mark-done", 'data-toggle': "button", 'aria-pressed': expense.paid == false, autocomplete: "off" do %>
    <div class="handle"></div>
  <% end %></i>

<% else %>

  <i><%= link_to paid_expense_path(expense), method: :patch, type: "button", class: "far fa-check-circle fa-2x mark-yet", 'data-toggle': "button", 'aria-pressed': expense.paid == true, autocomplete: "off" do %>
    <div class="handle"></div>
  <% end %></i>
<% end %>

