<%= link_to user_expenses_path, type: "button", class: "btn btn-toggle active", 'data-toggle': "button", 'aria-pressed': false, autocomplete: "off" do %>
  <%# Switch view? %>
  <div class="handle">
  </div>
<% end %>



